
<h1>Pages#about</h1>
<p>
	<%= link_to "ESPN", "http://espn.go.com/" %> is a terrible source of NBA information
	<%= link_to "Basketball Talk", "http://probasketballtalk.nbcsports.com/"%> is a more credible source for NBA knowledge.
</p>

