
<h1>Welcome to One Fanwave</h1>
<p>
	master chief
	<%= link_to "Sul's Twitter", "https://twitter.com/Americas__guest"%>
	
</a>application.
Twitter Account
</p>
	<%= link_to "Sign up Now!", "#"%>
</p>
<%= link_to 'about', about_path %>


