<div class="hero-unit">
	<h1>Welcome to Fanwave</h1>
	<p>
		master chief
		<%= link_to "Sul's Twitter", "https://twitter.com/Americas__guest"%>
		
	</a>application.
	Twitter Account
	</p>
		<%= link_to "Sign up Now!", "#", class: "btn-primary btn-large" %>
	</p>
	<%= link_to 'about', about_path %>
</div>

